<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ayo.core.sample">

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".recovery.test.App"
        android:label="AyoCore"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
      <!--  <activity
            android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity
            android:name=".recovery.test.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".recovery.test.TestActivity">
        </activity>
        <activity android:name=".recovery.test.TestActivity2">
        </activity>
    </application>

</manifest>