<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ayo.core">

    <application android:allowBackup="true"
        android:supportsRtl="true"
>
        <activity android:name=".permission.AskActivity"/>
        <receiver android:name=".permission.Ask$Receiver">

            <intent-filter>
                <action android:name="org.ayo.permission.PERMISSION_RESULT_INTENT">
                </action>
            </intent-filter>

        </receiver>

        <activity
            android:name=".crash.core.RecoveryActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:process=":recover"
            android:screenOrientation="portrait"
            android:theme="@style/RecoveryTheme.NoActionBar">
        </activity>

        <service
            android:name=".crash.core.RecoveryService"
            android:enabled="true"
            android:exported="false"
            android:process=":recover">
        </service>
    </application>

</manifest>
